<div class="main_chat1">
  <div class="left-header">
    <div class="main_chat1_name">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="chat_end">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="main_chat2">
  <div class="main_chat2_each">
    <div class="main_chat2_top">
      <div class="chat_user">
        Tom
      </div>
      <div class="chat_day">
        2020/3/31(Wed) 12:23:24
      </div>
    </div>
    <div class="chat_message">
      おはよう
    </div>
  </div>
  <div class="main_chat2_each">
    <div class="main_chat2_top">
      <div class="chat_user">
        Jack
      </div>
      <div class="chat_day">
        2020/3/24(Wed) 10:23:24
      </div>
    </div>
    <div class="chat_message">
      こんにちは
    </div>
  </div>
</div>

<div class="main_chat3">
  <div class="main_chat3left">
    <input class="form_message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form_submit" type="submit" value="送信" >
</div>