<div class="side_bar1">
  <div class="user_name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="new_room">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side_bar2">
  <div class="side_bar_roomname">
    <a href="#">techroom1</a>
  </div>
  <div class="side_bar_roomname">
    <a href="#">techroom2</a>
  </div>
</div>
</div>