<div class="side_bar1">
  <div class="user_name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="new_room">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>
<div class="side_bar2">
  <% current_user.rooms.each do |room| %>
    <div class="side_bar_room_name">
      <div class="room">
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>