.wrapper{
  display: flex;
}

.side_bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side_bar1{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.user_name a{
  text-decoration: none;
  font-size: 16px;
  color: #FAFAFA;
}

.new_room a{
  text-decoration: none;
  color: deepskyblue;
  font-size: 10px;
  padding: 14px;
  border: 1px solid lightblue;
}

.side_bar2{
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.side_bar_roomname{
  padding: 20px 0 40px;
}

.side_bar_roomname a{
  text-decoration: none;
  color: white;
}

.main_chat{
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
  padding: 0 40px;
}

.main_chat1{
  height: 100px;
}

.main_chat2{
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding-top: 46px;
}

.main_chat3{
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 0;
}